/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*raíz*/
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 63%;
    /* Se estipula que un 1rem = 10px*/
}


/*Variables globales*/
:root {
    /*color*/
    --color-white: #fff;
    --color-black: #3a3c4a;
    --color-text: #585966;
    --color-p: #8f8f8f;
    --color-container: #d0d1de;
    --color-bg-icon-comment: #e9e5ff;
    --color-blue: #2e44ff;
    --color-blue-light: #6d7cff;
    --color-gray-light: #c7c8d5;
    --color-bg-check: #b2eeda;
    --color-border-submit: #5768fc;
    --color-border-check: 1px solid #90ddc5;
    --color-border-span: 1px solid #b8b6b6;
    --color-circle-check: #00c887;
    --border-r: .6rem;
    --border: 1px solid #e8e8e8;
    --shadow: 0 0 .1rem var(--color-gray-light);
    --font: "Roboto", sans-serif;
    /* background
    --background-card: #fff;
    /*font*/
    /* --font-family--title: "M PLUS Rounded 1c";
    --font-family--text: "Open Sans"; */
    /*font-size*/
    /* --font-size-text: 0.9rem;
    --font-size-title: 1.2rem;  */
}

/*body {
    background: var(--color-gray);
    width: 100vw;
    height: 100svh; !Medida que debe tomarse a partir de ahora para evitar problemas con el alto en diseños de moviles.
    display: block;
    align-content: center;
    Nueva forma de alinear elementos en el eje vertical
    border: 1px solid green;
}*/

body {
    height: 100vh;
    font-family: var(--font);
    font-size: 1.6rem;
    color: var(--color-text);
    font-weight: 500;
    /* line-height: 1.6; */
    background-color: var(--color-container);
    align-content: center; /*Podría centrar los elementos con align-content*/
}



section {
    width: 70%;
    margin-inline: auto;
    /*centramos en horizontal*/
}

.form__label,
.form__input {
    display: block;
}

.container {
    display: flex;
        justify-content: space-between;
}

/*----btn/button----*/

.btn {
    height: 40px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: var(--border-r);
    background-color: inherit;
    border:1px solid var(--color-gray-light);
    cursor: pointer;
    font-size: 1.4rem;
}

/*----card----*/

.card {
    width: 47%;
    /* min-height: 500px; */
    background-color: var(--color-white);
    border-radius: var(--border-r);
    padding: 25px;
    box-shadow: 0 0 10px .5rem var(--color-gray-light);
}

.card__icon{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 25px;

}


.card__icon--coin {
    --size:53px;
    color: var(--color-blue);
    background-color:var(--color-bg-icon-comment);
    width: var(--size);
    height: var(--size);
    align-content: center;
    text-align: center;
    font-size: 2.7rem;
    border-radius: 50%;

    i {
        display: block;
        margin-top: 2px;
    }
}

.card__icon--x {
    color: var(--color-gray-light);
    font-size: 2rem;
    cursor: pointer;
}

/* .card__icon {
    background: var(--color-container);
    color: var(--color-blue);
    padding: 22px;
    border-radius: 50%;
    font-size: 1.5rem;

    i {
        margin-bottom: 30px;
        text-align: center;
    }
} */

.card__title {
    margin-bottom: .5rem;
    font-size: 1.75rem;
}


.card__text {
    color: var(--color-p);
    font-size: .9em;
    margin-bottom: 30px;

    b {
        color: var(--color-blue-light);
    }
}

/*form*/

.form__content {
    margin-bottom: 15px;
}

.form__label {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.form__input {
    width: 100%;
    padding: 10px;
    border:var(--border);
    border-radius: var(--border-r);


    &:focus {
        font-weight: bold;
        outline:1px solid var(--color-blue);
        caret-color: var(--color-blue);
    }


    &::placeholder{
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--color-gray-light);
    }
}


.form__content--md {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .form__input::placeholder {
        text-transform: uppercase;
    }
}

.content__md {
    width: 48%;
}

.tooltip {
    color: var(--color-blue-light);
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.form__code {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:var(--border);

    .form__input {
        width: 60%;
        border:none;
    }
}

.form__content--button {
    display: flex;
    justify-content: end;
    margin-bottom: 0;
}


.btn--cancel {
    margin-right: 10px;
}

.btn--form {
    background-color: var(--color-blue-light);
    color:#ebedff;
    border: none;
}

.form__content--number{
    display: flex;
    position: relative;
    flex-wrap: wrap;

    i {
        position:absolute;
        right: 20px;
        line-height: 40px;
    }
}

.form__number {
    width: 100%;
}

.form__icon{
    opacity: 0;
}

.form__number:focus + .form__icon {
    opacity: 1;
}